body {
  margin: 0;
  font-family: Chalkduster;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar {
  text-align: left;
  padding: 15px;
}
.navBar > span {
  padding-left: 15px;
}

.catalog {
  display: inline-block;

}
.catalog  h2 {
  text-align: left;
}

.movie {
  display: inline-block;
  width: auto;
}
#movieIMG {
  width: 250px;
  height: 250px;
}
#userIMG {
  width: 250px;
  height: 250px;
}
